{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="row">

        <h1 class="m-4">Redaguoti kategorija</h1>
    </div>

    {% include 'admin/includes/category_form.html.twig' %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}