{% block category_form %}
    {{ form_start(form) }}
    <label for="blog_post_title">Kategorijos pavadinimas</label>
    {{ form_widget(form.name,{'attr': {'class': 'form-control', 'placeholder': 'Pavadinimas'}, 'id': 'validationServer01' }) }}
    <br>

    <button class="btn btn-primary mt-3 mb-5" type="submit">Pridėti</button>
    {{ form_end(form) }}
{% endblock %}